*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #0994f0, #049ae7);


}

.container {
    width: 30rem;
    margin-inline: auto;

}

.sub-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.bottle-head{
    width: 10rem;
    height: auto;
}

.bottle-head-top{
    /* width: 100%; */
    height: 100%;
    padding: 1rem;
    border: 0.2rem solid black;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    /* border-bottom: 0.5rem; */
}

.bottle-head-bottom{
    /* width: 100%; */
    height: 100%;
    padding: 1rem;
    border: 0.2rem solid black;
   border-radius: 0.4rem;
   
}

.bottle-body {
    width: 15rem;
    height: auto;

    /* background-color: red; */
    
}

.bottle-body > div {
    background: white;
    /* margin-block-end: 5rem; */
}

.bottle-body-top{
    height: 100%;
    background: white;
    border-top: 0.5rem solid black;
    border-inline: 0.5rem solid black;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    padding-block: 5rem;
   
}

.bottle-body-middle-1{
    border-inline: 0.5rem solid black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-block: 5rem;
   
}

.bottle-body-middle-2{
    border-left: 0.5rem solid black;
    border-right: 0.5rem solid black;
    border-radius: 4rem;
    padding-block: 5rem;

}

.bottle-body-middle-3{
    border-left: 0.5rem solid black;
    border-right: 0.5rem solid black;
    border-radius: 4rem;
    padding-block: 5rem;
}

.bottle-body-bottom{
    margin-block-end: 0 !important;
    border: 0.5rem solid black;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding-block: 5rem;
}


.ground {
     width: 17rem;
     height: auto;
     background-color: palevioletred;
     display: flex;
     justify-content: space-between;

}

.ground-1 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 1rem;
}

.ground-2 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 2.5rem;
}

.ground-3 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 7rem;
    padding-inline: 1rem;
}

.ground-4 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width:5rem;
}