*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #0994f0, #049ae7);


}

.container {
    width: 30rem;
    margin-inline: auto;
    margin-block: 5rem;
    background: linear-gradient(to right, #21aaff, #0c89f4);
    padding-block: 5rem;
    padding-inline: 10rem;

}

.sub-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.bottle-head{
    width: 10rem;
    height: auto;
}

.bottle-head-top{
    height: 100%;
    padding: 1rem;
    border: 0.5rem solid black;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

.bottle-head-bottom{
    height: 100%;
    padding: 1rem;
    border: 0.5rem solid black;
   border-radius: 0.4rem;
   
}

.bottle-body {
    width: 15rem;
    height: auto;
    position: relative;
    
}

.bottle-body > div {
    background: white;
}

.bottle-body-top{
    height: 100%;
    background: white;
    border-top: 0.5rem solid black;
    border-radius: 1rem;
    border-inline: 0.5rem solid black;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    padding-block: 3rem;
   
}


.bottle-body-middle-2{
    border: 0.5rem solid black;
    border-radius: 4rem;
    padding-block: 0.5rem;

}

.bottle-body-middle-3{
    border: 0.5rem solid black;
    border-radius: 4rem;
    padding-block: 0.5rem;
    padding-inline: 5rem;
}

.bottle-body-bottom{
    background: #0b88f9 !important;
    border: 0.5rem solid black;
    border-radius: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding-block: 10rem;
    position: relative;

}

.botlle-body-bottom-line {
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    position: absolute;
    bottom: 3.9rem;
}

.bottle-body-bottom-1{
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 1.5rem;
}

.bottle-body-bottom-2 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 3em;
    padding-inline: 1rem;
}

.bottle-body-bottom-3 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width:7rem;
}


.botlle-body-bottom-water-level {
    
    background-color: white !important;
    width: 100%;
    padding-block: 4rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 0.5rem;
    position: absolute;
    top: -0.8rem;
}

.botlle-body-bottom-water-bubble{
    background-color: #22abff !important;
   
    border-radius: 3rem;
    position: absolute;
}

.bubble-1{
    padding: 1rem;
    bottom: 5rem;
}

.bubble-2{
    padding: 1rem;
    bottom: 5rem;
    right: 0;
}

.bubble-3{
    padding: 0.5rem;
    bottom: 6rem;
    left: 3rem;
}

.bubble-4{
    padding: 0.5rem;
    bottom: 9rem;
    right: 3rem;
}

.bubble-5{
    padding: 1rem;
    bottom: 9rem;
    right: 9rem;
}


.botlle-body-bottom-water-wave{
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 3rem;
    position: absolute;
}

.wave-1{
    transform: rotate(72deg) !important;
    left: 0.8rem;
    top: 4.2rem;
}

.wave-2{
    transform: rotate(-60deg);
    right: 7.5rem;
    top: 4.2rem;
}

.wave-3{
    transform: rotate(60deg);
    left: 4.5rem;
    top: 4.5rem;
}

.wave-4{
    transform: rotate(-45deg);
    left: 4.8rem;
    top: 4.7rem;
}

.wave-5{
    transform: rotate(45deg);
    left: 8.5rem;
    top: 4.8rem;
}

.wave-6{
    padding: 1rem 2rem !important;
    transform: rotate(-45deg);
    left: 8.7rem;
    top: 5.4rem;
}

.wave-7 {
    transform: rotate(-45deg);
    left: 0.1rem;
    top: 4rem;

}


.body-fixer-1 {
    width: 12.5rem;
    height: auto;
    padding-block: 1rem;
    border: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 7.3rem;
    left: 1.4rem;
}

.body-fixer-2 {
    width: 11.1rem;
    height: auto;
    padding-block: 1rem;
    border: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 9.1rem;
    right: 2rem;
}

.body-fixer-3 {
    width: 12.5rem;
    height: auto;
    padding-block: 1rem;
    border: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 6rem;
    left: 1.4rem;
}




.ground {
     width: 17rem;
     height: auto;
     background-color: palevioletred;
     display: flex;
     justify-content: space-between;

}

.ground-1 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 1rem;
}

.ground-2 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 2.5rem;
}

.ground-3 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 7rem;
    padding-inline: 1rem;
}

.ground-4 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width:5rem;
}