*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #0994f0, #049ae7);


}

.container {
    width: 30rem;
    margin-inline: auto;

}

.sub-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.bottle-head{
    width: 10rem;
    height: auto;
}

.bottle-head-top{
    /* width: 100%; */
    height: 100%;
    padding: 1rem;
    border: 0.5rem solid black;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    /* border-bottom: 0.5rem; */
}

.bottle-head-bottom{
    /* width: 100%; */
    height: 100%;
    padding: 1rem;
    border: 0.5rem solid black;
   border-radius: 0.4rem;
   
}

.bottle-body {
    width: 15rem;
    height: auto;
    position: relative;

    /* background-color: red; */
    
}

.bottle-body > div {
    background: white;
    /* margin-block-end: 5rem; */
}

.bottle-body-top{
    height: 100%;
    background: white;
    border-top: 0.5rem solid black;
    border-radius: 1rem;
    border-inline: 0.5rem solid black;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    padding-block: 3rem;
   
}

/* .bottle-body-middle-1{
    background-color:yellow !important;
    border: 0.5rem solid black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-block: .5rem;
   
} */

.bottle-body-middle-2{
    border: 0.5rem solid black;
    border-radius: 4rem;
    padding-block: 0.5rem;

}

.bottle-body-middle-3{
    border: 0.5rem solid black;
    border-radius: 4rem;
    padding-block: 0.5rem;
    padding-inline: 5rem;
}

.bottle-body-bottom{
    border: 0.5rem solid black;
    border-radius: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding-block: 10rem;
    position: relative;
}

.botlle-body-bottom-line {
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    position: absolute;
    bottom: 3.9rem;
}

.bottle-body-bottom-1{
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 1.5rem;
}

.bottle-body-bottom-2 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 3em;
    padding-inline: 1rem;
}

.bottle-body-bottom-3 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width:7rem;
}

.body-fixer-1 {
    width: 12.5rem;
    height: auto;
    /* background-color: blue !important; */
    padding-block: 1rem;
    border: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 7.3rem;
    left: 1.4rem;
}

.body-fixer-2 {
    width: 11.1rem;
    height: auto;
    /* background-color: red !important; */
    padding-block: 1rem;
    border: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 9.1rem;
    right: 2rem;
}

.body-fixer-3 {
    width: 12.5rem;
    height: auto;
    /* background-color: pink !important; */
    padding-block: 1rem;
    border: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 6rem;
    left: 1.4rem;
}




.ground {
     width: 17rem;
     height: auto;
     background-color: palevioletred;
     display: flex;
     justify-content: space-between;

}

.ground-1 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 1rem;
}

.ground-2 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 2.5rem;
}

.ground-3 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 7rem;
    padding-inline: 1rem;
}

.ground-4 {
    background: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width:5rem;
}