* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bear_body {
    width: fit-content;
    height: auto;
    margin-inline: auto;
    margin-block-start: 6rem;
    background: #5D5C5A;
    padding-block: 10rem;
    padding-inline: 6rem;
    border-radius: 8rem;
    position: relative;
}

.bear_head {
    margin-inline: auto;
    background: #899098;
    padding-block: 8rem;
    padding-inline: 3.5rem;
    border-radius: 5rem;
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 2.7rem;
}

/* Bear ears */

.bear_ears {
    position: relative;
}

.bear_ear_left {

}

.bear_ear_right {
    
}

/* Bear nose */

.bear_nose {
    position: relative;
}

.bear_nose_left {
    background: red;
    padding-inline: 0.7rem;
    padding-block: 0.7rem;
    border: 0.4rem solid black;
    border-radius: 2rem;
    position: absolute;
    top: 2.5rem;
    left: -4.5rem;
}

.bear_nose_right {
    background: blue;
    padding-inline: 0.7rem;
    padding-block: 0.7rem;
    border: 0.4rem solid black;
    border-radius: 2rem;
    position: absolute;
    bottom: 2.5rem;
    left: -4.5rem;
}


/* Bear Eyes */

.bear_eyes {
    position: relative;
}

.bear_eye_left {
    background: black;
    padding-inline: 0.7rem;
    padding-block: 0.4rem;
    /* border: 0.4rem solid black; */
    border-radius: 2rem;
    position: absolute;
    top: 0.7rem;
    left: -4.5rem;
}

.bear_eye_right {
    background: black;
    padding-inline: 0.7rem;
    padding-block: 0.4rem;
    border-radius: 2rem;
    position: absolute;
    bottom: 0.5rem;
    left: -4.5rem;
}

/* Bear teeth */

.bear_teeth {
    position: relative;
}

.bear_teeth_left {
    background: white;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 1.7rem;
    left: 2.5rem;
}

.bear_teeth_right {
    background: white;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: 0.2rem;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem;
}

/* Bear hand */

.bear_hand {
    position: relative;
}

.bear_hand_left {
    background: red;
    padding-inline: 3rem;
    padding-block: 1.5rem;
    border-radius: 2rem;
    transform: rotate(-50deg);
    position: absolute;
    top: 1rem;
    left: -9rem;

}

.bear_hand_right {
    background: blue;
    padding-inline: 3rem;
    padding-block: 1.5rem;
    border-radius: 2rem;
    transform: rotate(50deg);
    position: absolute;
    top: 1rem;
    right: -9rem;

}


/* Bear foot */

.bear_foot {
    position: relative;
}

.bear_foot_left {
    background: red;
    padding-inline: 2.5rem;
    padding-block: 2rem;
    border-radius: 2rem;
    transform: rotate(50deg);
    position: absolute;
    top: 6rem;
    left: -6rem;

}

.bear_foot_right {
    background: blue;
    padding-inline: 2.5rem;
    padding-block: 2rem;
    border-radius: 5rem;
    transform: rotate(-50deg);
    position: absolute;
    top: 6rem;
    right: -6rem;

}